#top{
    background-color: #B0C4DE;
    border: dotted 3px black;
}
.card-img-top{
    height: 150px;
    width: 100px
}
.card{

    height: 270px;
}

#your {
    background-color: #B0C4DE;
   
    
}